<div class="col-12">
    <div class="modal-header">
        <h4 class="modal-title">Detalhes do produto</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">
        <div class="col-12">
            <h4>{{product.name}} - {{product.price | currency : 'R$'}}</h4>
            <img class="card-img-top image-size" src="https://cache-backend-mcd.mcdonaldscupones.com/media/image/product$kfXryEgJ/200/200/original?country=br" alt="Card image cap">
        </div>
        <button class="btn btn-primary m-1" (click)="openEditProductModal()">Editar</button>
        <button class="btn btn-danger m-1">Excluir</button>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Fechar</button>
    </div>
</div>