<div class="col-12 mt-5 cards">
    <div *ngFor="let product of products" class="card text-center m-1" style="width: 13rem;">
        <img class="card-img-top" src="https://cache-backend-mcd.mcdonaldscupones.com/media/image/product$kfXryEgJ/200/200/original?country=br" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">{{product.price}}</p>
            <a class="btn btn-primary" (click)="openProductDetailsModal()">Detalhes</a>
        </div>
    </div>
</div>